@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="bemvindo">Seja Bem-Vindo(a)!</h1>
    <p class="descricao">O Espaço BemViver é o seu destino confiável para procedimentos médicos e estéticos de alta qualidade. Navegue por nossa plataforma dedicada a transformar e aprimorar a sua beleza e bem-estar com uma variedade de serviços especializados e profissionais qualificados.</p>
    <div class="img-banner">       
       <img class="img-banner2" src="/img/banner.png" />      
    </div>
</div>
