@{
    <div class="privacidade">
        <h1>Política de Privacidade</h1>
    </div>
}
<h1>@ViewData["Title"]</h1>

<p>Data de vigência: 07/12/2023</p>

<p> O Espaço BemViver está empenhado em proteger a privacidade dos usuários de seu site. Esta Política de Privacidade descreve as práticas do Espaço BemViver em relação à coleta, uso, armazenamento e divulgação de informações pessoais que possam ser obtidas por meio do nosso site.</p>

<p> Ao utilizar o site Espaço BemViver, você concorda com as práticas descritas nesta política. Recomendamos que você leia atentamente o seguinte para compreender as nossas práticas de privacidade.</p>

<p>1. Informações Coletadas:</p>

<p>O Espaço BemViver pode coletar informações pessoais fornecidas voluntariamente pelos usuários, como nome, endereço, número de telefone, endereço de e-mail e informações de pagamento. Além disso, dados não pessoais, como informações sobre o dispositivo utilizado para acessar o site, o navegador utilizado e o endereço IP, podem ser coletados automaticamente.</p>

<p>2. Uso das Informações:</p>

<p>As informações pessoais coletadas podem ser utilizadas para os seguintes propósitos:

    Agendar consultas ou procedimentos;
    Processar pagamentos;
    Fornecer informações relevantes sobre os serviços oferecidos;
    Responder a consultas ou solicitações;
    Personalizar a experiência do usuário no site.</p>

<p>3. Compartilhamento de Informações:</p>

<p>O Espaço BemViver não vende, aluga ou compartilha informações pessoais dos usuários com terceiros, exceto quando necessário para realizar serviços solicitados pelo usuário (por exemplo, processar pagamentos).</p>

<p>4. Segurança das Informações:</p>

<p>O Espaço BemViver emprega medidas de segurança adequadas para proteger as informações pessoais dos usuários contra acesso não autorizado, alteração, divulgação ou destruição não autorizada.</p>

<p>5. Cookies:</p>

<p>O site do Espaço BemViver pode utilizar cookies para melhorar a experiência do usuário. Os cookies são pequenos arquivos armazenados no dispositivo do usuário que coletam informações sobre a interação com o site.</p>

<p>6. Links para Sites de Terceiros:</p>

<p>O site pode conter links para sites de terceiros. O Espaço BemViver não é responsável pelas práticas de privacidade desses sites. Recomendamos que os usuários revisem as políticas de privacidade desses sites ao acessá-los.</p>

<p>7. Menores de Idade:</p>

<p>O Espaço BemViver não coleta intencionalmente informações pessoais de menores de idade. Caso tenhamos conhecimento de informações pessoais de menores de idade, tomaremos as medidas necessárias para excluí-las.</p>

<p>8. Alterações na Política de Privacidade:</p>

<p>O Espaço BemViver reserva-se o direito de modificar esta Política de Privacidade a qualquer momento. Recomendamos que os usuários revejam periodicamente esta política para se manterem informados sobre como suas informações estão sendo protegidas.</p>

<p>9. Contato:</p>

<p>Para dúvidas ou preocupações relacionadas a esta Política de Privacidade, entre em contato conosco por meio do telefone: +55 (14) 3662-5740</p>

<p>Ao utilizar o site do Espaço BemViver, os usuários concordam com os termos desta Política de Privacidade.</p>
