@model ProjetoFinalJulia.Models.Estado

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Estado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoNome)
        </dd>
    </dl>
</div>
<div>
    <a class="a" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a class="a"asp-action="Index">Voltar para a lista</a>
</div>
