@model ProjetoFinalJulia.Models.LocalRealizacao

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<h3>Tem certeza que deseja deletar isto?</h3>
<div>
    <h4>LocalRealizacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalRealizacaoNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalRealizacaoNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade.NomeCidade)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a class="a" asp-action="Index">Voltar para a lista</a>
    </form>
</div>
