@model ProjetoFinalJulia.Models.Usuario
@{
    Layout = (null);
}
<link href="~/css/usuario.css" rel="stylesheet" />
<div class="text-center">
    <form asp-action="Login">
        <main>
            <section class="box">
                <div class="img">
                    <img src="~/img/logo2.png" />
                </div>
                <form>
                    <div class="form-input">
                        <label asp-for="UsuarioEmail"></label>
                        <input asp-for="UsuarioEmail" />
                        <span asp-validation-for="UsuarioEmail"></span>
                    </div>
                    <div class="form-input">
                        <label asp-for="UsuarioSenha"></label>
                        <input asp-for="UsuarioSenha" type="password" />
                        <span asp-validation-for="UsuarioSenha"></span>
                    </div>
                    <br />
                    <h4>@ViewBag.Mensagem</h4>
                    <br />
                    <div class="btnEntrar">
                        <input type="submit" value="Entrar" class="btn-1" />
                    </div>
                </form>
            </section>
        </main>
    </form>
</div>